body {
    font-family: Arial, sans-serif;
    background-color: #0077ff75; /* Slight blue background with transparency */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.wrapper {
    background-color: #efefef; /* Light gray background */
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-areas: "screen" "buttons";
    grid-template-rows: auto 1fr;
}

.screen {
    padding: 10px;
    font-size: 36px;
    background-color: #FA8125;
    color: #0077ff75; /* White text */
    border: none;
    text-align: right;
    border-radius: 16px 16px 0 0; /* Rounded top corners */
    margin-bottom: 8px;
}

.calc-button-grid {
    grid-area: buttons;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-content: center;
    align-content: center;
}

button {
    font-size: 24px;
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: #FFA500; /* Orange buttons */
    color: #fff; /* White text */
    border-radius: 8px; /* Rounded corners for buttons */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Add shadow to all buttons */
}

.operator {
    background-color: #4CAF50; /* Green background for operator buttons */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Add shadow to operator buttons */
}

button:hover {
    background-color: #FF6600; /* Darker orange on hover */
}
